@use "../utils/colors";
@use "../utils/fonts";
@use "../utils/mixins";

.banner__button {
  background-color: colors.$brand-blue-color;
  border: none;
  font-size: 16px;
  color: colors.$white-color;
  padding: 16px 48px;
  border-radius: 4px;
  &:hover {
    cursor: pointer;
  }
}
.banner__text {
  @include mixins.font-sizes(500, 44, 1.36);
  color: colors.$white-color;
  width: 696px;
  text-align: center;
  letter-spacing: 2px;
  padding-bottom: 30px;
}
.banner {
  background-color: colors.$background-dark-color;
  padding: 200px 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/main-baner-img.jpg);
}

.main-content {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 94px auto;
  &__list {
    display: flex;
    gap: 30px;
  }
  &__elem__title {
    @include mixins.font-sizes(700, 14, 1.641);
    color: colors.$almost-black-font-color;
    padding: 30px 0px 10px 0px;
  }
  &__elem__text {
    @include mixins.font-sizes(400, 14, 1.7);
    color: colors.$grey-brand-font-color;
    letter-spacing: 0.3px;
    max-width: 270px;
  }
  &__icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(245, 244, 250, 1);
    width: 270px;
    height: 120px;
  }
  &__icon {
    height: 70px;
    width: 70px;
  }
}
