$--brand-blue-color: #2196f3;
$--grey-brand-font-color: #757575;
$--almost-black-font-color: #212121;
$--white-color: #ffffff;
$--almost-white-color: #f5f4fa;
$--background-dark-color: #2f303a;
$--our-team-backround-color: #f5f4fa;
$--roboto-font: "Roboto";
$--raleway-font: "Raleway";
